


ul {
    list-style: none;
  }


#navbarSupportedContent > ul > li > a > span {
    font-size : 0.5em;   /* 서브 메뉴가 있는 항목에 화살표 표시 */
  }

#navbarSupportedContent > ul > li > ul:hover > a {
 background-color : black;
    color : white;
}

#navbarSupportedContent > ul > li > ul{
  display:none;
  position:absolute;
  background-color : #afafaf;
}

#navbarSupportedContent > ul > li:hover > ul{
  display:block;
}

#second{
 text-align: center;
}




#bottomMenu ul li{

  float:left;  /* 가로로 배치 */
  padding:0px 20px;
  border-right:1px solid #ddd;   /* 항목 오른쪽에 테두리 */
  font-size:15px;  /* 글자 크기 */
  color:#666;
}


#bottomMenu ul li:last-child{
  border:none;  /* 마지막 항목에는 오른쪽 테두리 없음 */
}
