<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">



    </head>
    <body>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5">
                <div id="bottomMenu">
                  <ul>
                     <li> 대표이사 : 이선정</li>
                     <li> 사업자등록번호 : 809-81-01574</li>
                     <li> 주소 : (04323) 서울특별시 용산구 한강대로 372, 24층</li>
                  </ul>
                </div>
            </div>
        </footer>
    </body>
</html>

